<%- include("partials/header"); %>

  <h1>Compose</h1>

  <form action="/compose" method="POST">
    <div class="mb-3">
      <label class="form-label blogHeading" for="blogTitle">Title</label>
      <input class="form-control" type="text" name="blogTitle">
    </div>
    <div class="mb-3">
      <label class="form-label blogHeading" for="blogTitle">Content</label>
      <textarea class="form-control" rows="5" name="blogContent"></textarea>
    </div>
    <div style="margin-top: 5px;">
      <button class="btn btn-primary" name="blogPublishButton" value="blogPublishButton" type="submit">Publish</button>
    </div>
  </form>

<%- include("partials/footer"); %>